<!DOCTYPE html>
<html>
  <head>
    <title>Diversify Showcase | By Spotify</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>

    <header role="banner">

    </header>

    <main role="main">
      <h1>Teams &amp; Creations in Diversify</h1>

      {{#each teams}}
      <article>
        <h2>{{name}}</h2>
      </article>
      {{/each}}
    </main>

    <!-- By Johan, Spotify Street Team 2014 -->
  </body>
</html>
